@using MapWeb.Contollers
@model MapWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayouLogin.cshtml";
}

<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" style="background-image: url( '@Url.Content("~/Content/Template/img/b.jpg")')"></div>
    <div class="content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="col-md-4 ml-auto mr-auto">
                <div class="card card-login card-plain">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="card-header text-center">
            <div class="logo-container">
                <img src="../assets/img/now-logo.png" alt="">
            </div>
        </div>
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })

     
                               <div class="card-body">
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>

                                  

                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                </div>

                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    </div>
                                 

                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                    </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "FirstName" })
                                    </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    </div>
                                  

                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" ,  placeholder = "ConfirmPassword" })
                                    </div>

                                  

                                    @Html.Label("Client: ", new { @class = "control-label" }) @Html.RadioButtonFor(m => m.AccountType, Domain.Entity.EAccountType.Client, new { @checked = "checked" })
                                    @Html.Label("Ressource: ", new { @class = "control-label" }) @Html.RadioButtonFor(m => m.AccountType, Domain.Entity.EAccountType.Ressource)




                                   

                                
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Register</button>
                                    </div>
                                    }
                                </div>
                        </div>
    </div>
    