@model IEnumerable<Domain.Entity.Project>

<button class="btn btn-primary btn-round" name="CREATE" onclick="location.href=' @Url.Action("create", "Project")'">
    create Project
    <i class="fa fa-plus"></i>
</button>


<div class="container">
    <div class="row">


        <div class="col-md-12">
            <h4>Projects</h4>
            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalNbrRessources)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalNbrLevio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalNbrRessources)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalNbrLevio)
                                </td>
                                <td>
                                    @{string path = "~/Content/Upload/" + @item.Image;}
                                    @*enlever label for pour afficher seulement l'image*@
                                    <img src="@Url.Content(path)" width="50" height="50" />


                                </td>

                                <td>
                                    <button class="btn btn-primary btn-icon btn-round" onclick="location.href=' @Url.Action("Edit", "Project", new { id = item.Project_id })'">

                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-info btn-icon btn-round" onclick="location.href=' @Url.Action("Detail", "Project", new { id = item.Project_id })'">

                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-danger btn-icon btn-round" onclick="location.href=' @Url.Action("Delete", "Project", new { id = item.Project_id})'">

                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                                        }
                    </tbody>

                </table>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#link" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#link">1</a></li>
                    <li class="page-item "><a class="page-link" href="#link">2</a></li>
                    <li class="page-item"><a class="page-link" href="#link">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#link" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>

                        </a>
                    </li>
                </ul>

            </div>
        </div>
</div>
</div>